* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.board {
  height: 10rem;
  width: 10rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid {
  border: 2px solid black;
}
